click==8.1.8
Flask==2.2.5
Flask-HTTPAuth==4.8.0
importlib-metadata==6.7.0
itsdangerous==2.1.2
Jinja2==3.1.5
MarkupSafe==2.1.5
pyFIS==1.13.0
pyserial==3.5
typing_extensions==4.7.1
uWSGI==2.0.28
Werkzeug==2.2.3
zipp==3.15.0
